.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../assets/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  width: 700px;
}
.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
}
.btnContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}
.searchContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
p {
  font-family: "DynaPuff", cursive;
}
@media screen and (max-width: 768px) {
  .searchContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  }
  .logo {
    width: 95%;
  }
}
